* {margin: 0;
	padding: 0; 
	box-sizing: border-box;
	 user-select: none;
}
body {
	font-size: 17px;
	background-color: white;
	font-family: serif, "Tinos";
	position: absolute;
  min-width: 100%;
}
a {
	text-decoration: none;
	color: rgb(58, 57, 57);
	cursor: pointer;
}
ul{list-style-type: none;}
/*Phần header*/
.fixed {
	position: fixed;z-index: 10000;top: 0px;width: 100%;
}
.sub-header {
	width: 100%;
	height: 50px;
	background: #1E1E1E;
}
.sub-container {
  width: 100%;
  height: auto;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  display: inline-flex;
}
.social {
    float: left;
    width: 420px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sub-container p {
  color: #a0a0a0;
  font-size: 15px;
}
.user {
    float: right;
    text-align: right;
    width: 700px;
}
.login-resignter {
    margin: 17px 0 15px 0;
}

.login-resignter a {
	color: white;
	text-transform: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.login-resignter a:hover {
	color: #ffcc00;
}
.icon {
	margin: 15px 15px 15px;
}
.sub-container2 {
	width: 100%;
    height: auto;
    padding: 0 60px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    background-color: rgba(79,79,79,.68);
}
.sub-content {
	max-width: 100%;
	height: 100px;
	display: flex;
}
.content-img {
	padding-top: 15px;
	padding-bottom: 15px;
}
.content-list {
	width: 100%;
}
.content-list ul li {
	float: right;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 100px;
}
.content-list ul li a {
	font-size: 23px;
	color: #ffcc00;
	font-family: 'UTM AVO';
}
/*Dropdown tìm kiếm*/
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 20px;
    padding-right: 20px;
    padding-top: 2.5px;
}
.dropbtn {
  color: white;
  font-size: 23px;
  border: none;
  cursor: pointer;
  font-family: 'UTM AVO';
  color: #ffcc00
}
.dropbtn:hover, .dropbtn:focus {
  background-color: none;
}
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 10px;
  border: none;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#myInput:focus {outline: none;}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  overflow: auto;
  z-index: 1;
  margin-top: -29px;
  margin-left: -150px;
}
.show {display: block;}

/*dropdown menu sản phẩm*/
.drop-down2 {
    position: relative;
   display: inline-block;
}
.nut_dropdown {
   color: white;
   font-size: 16px;
   border: none;
 }
.noidung_dropdown {
/*Ẩn nội dung các đường dẫn*/
   display: none;
   position: absolute;
   min-width: 120px;
   margin-top: -2px;
   margin-left: -15px;
   background-color: rgba(79,79,79,.68);
   z-index: 10;
 }
/* Thiết kế style cho các đường dẫn trong Dropdown */
.noidung_dropdown a {
    text-align: center;
    height: 65px;
    display: block;
    line-height: 65px;
 }
.noidung_dropdown a:hover {background-color: #d7d6d6;}
/* hiển thị nội dung dropdown khi hover */
.drop-down2:hover .noidung_dropdown {display: block;}
/* Thay đổi màu background cho nút khi được hover */
.drop-down2:hover .nut_dropdown {background-color: none;}
/*Hết phần header*/


/*Phần body*/
/*Phần quảng cáo*/
.main-contain {
	width: 100%;
	box-sizing: border-box;
}
.slideshow {
	width: 100%;
	height: 500px;
	position: relative;
}
.slideshow h3 {
	position: absolute;
    left: 480px;
    top: 320px;
    font-size: 40px;
    color: #ffcc00;
}
/*Hết phần quảng cáo*/ 

/*Phần body*/
.container-body { 
	width: 100%;
	height: 2320px;
	padding-top: 50px;
}
.content {
	width: 1170px;
	height: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
/*Cột trái*/
.row-left {
	width: 73%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.title-heading {
	margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.title-heading p {
	font-family: Averta;
    font-size: 18px;
    color: #4F4F4F;
    position: relative;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
}
/*Phần thứ hai*/
.section2 {
	width: 100%;
	height: 405px;
	margin-top: 15px;
	display: flex;
	background: #F7F7F7;
}
.section2-left {
	width: 60%;
	height: 100%;
}
.section2-right {
	width: 40%;
	height: 100%;
	padding-top: 20px;
	padding-left: 15px;
}
.section2-right a {
	font-size: 24px;
	font-weight: bold;
	color: #4F4F4F;
	font-family: Averta;
	line-height: 35px;
}
.s
.section2-right a:hover {
	color: #ffcc00;
}
/*Phần thứ 3*/
.section3 {
	width: 100%;
	height: 240px;
	display: flex;
	margin-top: 20px;
}
.section3-row {
	width: 33.33333%;
	height: 100%;
	padding-right: 15px;
}
.section3-row p a {
	margin: 0px;
    font-family: Averta;
    font-size: 18px;
    color: #222222;
    margin-bottom: 20px;
    line-height: 24px;
    font-weight: 100;
}
.section3-row p a:hover {
	color: #ffcc00;
}
/*Phần 4*/
.section4 {
	width: 100%;
	height: 230px;
	padding-top: 20px;
	display: flex;
	border-top: 1px solid #eee;
}
.section4-left {
	width: 43.5%;
	height: 100%;
}
.section4-right {
	width: 56.5%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.section4-right h3 {
	padding-bottom: 20px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #222222;
	font-family: Averta;
}
.section4-right p {
	font-size: 17px;
	color: #676767;
	line-height: 24px;
	text-align: justify;
}
.section4-right h3 a:hover {
	color: #ffcc00;
}
/*Phần 5*/
.load {
	width: 100%;
	padding-top: 30px;
}
.load-link {
	text-align: center;
    width: 220px;
    height: 50px;
    background: rgba(79,79,79,.68);
    border-radius: 7px;
    float: initial;
    line-height: 50px;
    font-family: Averta;
    font-size: 18px;
    color: #ffcc00;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.load-link a {
	font-size: 22px;
    color: #ffcc00;
}
/*Cột phải*/
.row-right {
	width: 27%;
	height: 100%;
	padding-left: 15px;
}
.wiget-title {
	margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.wiget-title p {
	font-family: Averta;
    font-size: 18px;
    color: #4F4F4F;
    position: relative;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
}
/*Phần 1*/
.row-right1 {
	width: 100%;
	height: 500px;
	padding-top: 15px;
}
.row-right1 li a {
	font-size: 14px;
	color: #757575;
	line-height: 40px;
	font-family: Arial;
}
.row-right1 li a:hover {
	color: #ffcc00;
}
.row-right1 strong {
	float: right;
    font-weight: normal;
    color: #999999;
}
/*Phần 2*/
.row-right2 {border-bottom: 3px solid #f36f21;width: 150px;}
.row-right2 p {
	font-family: Averta;
    font-size: 18px;
    color: #4F4F4F;
    position: relative;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
}
/*Phần 3*/
.row-right3 {
	width: 100%;
	height: 240px;
	padding-top: 15px;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
}
.row-right3 p a {
	padding-top: 10px;
	font-family: Averta;
    font-size: 17px;
    color: #4F4F4F;
    float: left;
    font-weight: bold;
}
.row-right3 p a:hover {color: #ffcc00;}
/*Phần 4*/
.row-right4 {
	padding-top: 20px;
	width: 100%;
	height: 118px;
	display: flex;
	border-bottom: 1px solid #E5E5E5;
}
#left {
	width: 50%;
	height: 100%;
	padding-right: 10px;
}
#left a h4 {
	font-family: Averta;
    font-size: 16px;
    color: #4F4F4F;
    line-height: 22px;
}
#left a h4:hover {color: #ffcc00;}
#right {
	width: 50%;
	height: 100%;
}
/*Hết phần body*/

/*Phần footer*/
footer.wrap-footer .container-footer .footer {
  height: 340px;
  margin-top: 30px;
  background-color: #dadada;
}

footer.wrap-footer .container-footer .footer .bot-footer {
  width: 1200px;
  height: 300px;
  margin: auto;
}

footer.wrap-footer .container-footer .footer .bot-footer .item-footer {
  display: flex;
  height: 100%;
}

.item-left {
  overflow: visible;
  display: flex;
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
}

.item-left-footer {
  width: 33.33333%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.thongtin {
  margin-bottom: 20px;
  font-size: 22.5px;
  font-weight: 500;
  z-index: 1;
  color: #434343;
}

.item-left-footer ul li {
  overflow: hidden;
  font-size: 16px;
  line-height: 30px;
}

.item-left-footer a:hover {
  color: #ffcc00;
  font-size: 15.5;
}

.item-right {
  overflow: visible;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
}

.item-right-footer {
  overflow: hidden;
  line-height: 30px;
  font-size: 16px;
}

.fusion-builer {
  height: 65px;
  line-height: 65px;
  margin-right: 10px;
}
.fusion-builer ul {
  display: inline-flex;
}
.fusion-builer ul li {
  list-style-type: none;
  color: rgb(58, 57, 57);
}
.cach {
  padding-left: 20px;
}
.on-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  color: white;
}
.on-top img {
  text-align: center;
}
/*Hết phần footer*/
